.home {
  @include breakpoint('to-tablet-l') {
    display: flex;
    flex-direction: column;
  }
  &__details {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
  }
  &__title {
    margin-bottom: 5px;
  }

  &__posts {
    &__form {
      width: 30%;
      display: flex;
      flex-direction: column;
      @include breakpoint('to-tablet-l') {
        width: 100%;
      }
      &__title {
        font-size: 1.5rem;
        margin-bottom: 20px;
      }
      &__btn {
        width: 30%;
        margin: 0;
        margin-bottom: 30px;
        @include breakpoint('to-tablet-l') {
          width: 100%;
        }
      }
    }
    &__items {
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 70px;
      @include breakpoint('to-tablet-l') {
      }
    }
  }
  &__post {
    display: flex;
    flex-direction: column;
    @include breakpoint('phone') {
      word-wrap: break-word;
    }
    &__image {
      height: 200px;
    }
    &__text {
      margin-top: 20px;
    }
    &__title {
      font-size: 1.5rem;
      font-weight: 500;
      color: #2b2b2b;
      text-decoration: none;
      margin-bottom: 30px;
    }
    &__description {
      color: #8f8289;
      word-break: break-all;
      font-size: 1rem;
      font-weight: 400;
    }
    &:hover {
      cursor: pointer;

      .home__post__title {
        color: $color-main !important;
      }
    }
  }
}
