.login {
  display: flex;
  width: 100%;
  height: 100vh;
  &__image {
    flex: 3;
    background-color: red;
    background-image: linear-gradient(
        rgba(red, 0.7) 10%,
        rgba(blue, 0.7) 100%
      ),
      url('https://cdn.pixabay.com/photo/2017/01/17/03/57/desktop-1985856_960_720.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
  }

  &__content {
    flex: 3;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    > div {
      margin: 50px 0;
    }
    &__title {
      font-size: 2rem;
    }
    &__form {
      form {
        display: flex;
        flex-direction: column;
        input {
          margin: 10px 0;
        }
      }
    }
  }
}
