//containers
.cc-container {

}

//colors
.cc-color {
  &--main {
    color: $color-main;
  }
}


//link
a {
  &.cc-link-underline {
    text-decoration: underline;
  }
}

//text
.cc-text {

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }

  &--color-secondary {
    color: $color-text-secondary;
  }
}

//list
.cc-custom-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

//background-colors
.cc-bg-color {
  &--main {
    background-color: $color-main;
    color: $color-white;
  }

  &--light {
    background-color: $color-main-light;
  }

  &--dark {
    background-color: $color-main-dark;
    color: $color-white;
  }

  &--accent {
    background-color: $color-accent;
    color: $color-white;
  }
}

.no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 3rem;
  margin-top: 20px;
  .text {
    color: rgba(#fff, .4)
  }
  .link {
    margin-top: 40px;
  }
}

.o-is-primary {
  color: $o-color-main;
}