html {
  box-sizing: border-box;
  font-size: $base-font-size;
  height: 100%;
  width: 100%;
  background-color: $color-page-bg;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  //font-family: $font-;
  color: $color-text;
  background-color: $color-page-bg;
  @include font-size(14px, $base-line-height);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

* {
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {

  }

  &:focus {
    outline: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0 0  10px
}

ul:not(.cc-custom-list) {
  margin: 0;
  padding: 0;
  list-style-position: inside;

  li {

  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h1 {
  @include font-size($heading-size-1);
}

h2 {
  @include font-size($heading-size-2);
}

h3 {
  @include font-size($heading-size-3);
}

h4 {
  @include font-size($heading-size-4);
}

h5 {
  @include font-size($heading-size-5);
}

h6 {
  @include font-size($heading-size-6);
}